<div class="post">
  <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 January 2006" }}</time></a>
  {{ if .Title }}
    {{ with .Title | markdownify }}
    <h1 class="page-title p-name {{ cond (hasPrefix . "<a") "external" "" }}"">{{ . }}</h1>
  {{ end }}
  <div class="e-content">
  {{ if .Truncated }}
    {{ .Summary }}
    <p class="link more"><a class="more" href="{{ .RelPermalink }}">Read More</a></p>
  {{ else }}
    {{ .Content }}
  {{ end }}
</div>
</div>
