:root {
    --text-color: #515151;
    --background-color: #fff;
    --light-text-color: #505050;
    --heavy-text-color: #313131;
    --link-color: #268bd2;
    --text-box-background: #f9f9f9;
    --table-line-color:#e5e5e5;
    --sidebar-text-color: #979797;
    --sidebar-link-color: #CCCCCC;
    --sidebar-background: #202020;
}
