<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about h-card">
      <h1>
          <span class="p-name">{{ .Site.Title }}
      </h1>
      <p class="info">{{ .Site.Params.info | safeHTML }} </p>
      <img class="avatar u-photo" alt="Avatar" src="{{ .Site.Author.avatar | safeURL }}">
      <p class="lead">{{ .Site.Params.description | safeHTML }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{{ if .IsHome }} active{{end}}" href="/">Home</a>
    {{ $currentPage := .Page }}
    {{ range .Site.Taxonomies.categories }}
    {{ $url := $currentPage.RelPermalink }}
    <a class="sidebar-nav-item category
    {{ if eq $url .Page.RelPermalink }}
    active
    {{ end }}
    " href="{{ .Page.Permalink }}">{{ .Page.Title | title }}</a>
    {{ end }}
    {{ range .Site.Menus.main }}
      {{ if .Page.Params.redirect_url }}
        <a class="sidebar-nav-item
        {{ if .Page.IsMenuCurrent "main" . }} 
         active
        {{end}}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
      {{ else }}
        <a class="sidebar-nav-item" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
        <!-- <a href="" class="sidebar-nav-item active"></a> -->
      {{ end }}
    {{ end }}
    </nav>
  </div>
</div>

