<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about h-card">
      <h1>
          <span class="p-name">{{ .Site.Title }}</span>
      </h1>
      <p class="info">{{ .Site.Params.info | safeHTML }} </p>
      <img class="avatar u-photo" alt="Avatar" src="{{ .Site.Author.avatar | safeURL }}">
      <p class="lead">
        <p class="description">
          {{ .Site.Params.description | safeHTML }}
        </p>
        <ul class="social">
          {{ with .Site.Params.microblog_username }}
            <li class="microblog"><a target="_blank" rel="me noreferrer external" href="https://micro.blog/{{ . }}">Micro.Blog</a></li>
          {{ end }}
          {{ with .Site.Params.mastodon_username }}
            <li class="mastodon"><a target="_blank" rel="me noreferrer external" href="{{ . }}">Mastodon</a></li>
          {{ end }}
          {{ with .Site.Params.pixelfed_username }}
            <li class="pixelfed"><a target="_blank" rel="me noreferrer external" href="{{ . }}">Pixelfed</a></li>
          {{ end }}
        </ul>
        </p>
    </div>
{{ $currentPage := . }}
<nav class="sidebar-nav">
   <a class="sidebar-nav-item{{ if .IsHome }} active{{end}}" href="/">Home</a>
    {{ range .Site.Menus.main }}
      {{ if .Page.Params.redirect_url }}
        <a class="sidebar-nav-item custom 
        {{- if .Page.IsMenuCurrent "main" . -}} 
          active
        {{end}}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
      {{ else }}
        {{ $url := .URL | relLangURL }}
          <a class="sidebar-nav-item {{ $currentPage.RelPermalink }} {{ $url }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
        active
        {{ end }}
        " href="{{ $url }}">{{ .Name }}</a>
        <!-- <a href="" class="sidebar-nav-item active"></a> -->
      {{ end }}
    {{ end }}
    
    </nav>
  </div>
</div>

