<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about h-card">
      <h1>
          <span class="p-name">{{ .Site.Title }}
      </h1>
      <p class="info">{{ .Site.Params.info | safeHTML }} </p>
      <img class="avatar u-photo" alt="Avatar" src="{{ .Site.Author.avatar | safeURL }}">
      <p class="lead">{{ .Site.Params.description | safeHTML }}</p>
    </div>
{{ $currentPage := . }}
<nav class="sidebar-nav">
   <a class="sidebar-nav-item{{ if .IsHome }} active{{end}}" href="/">Home</a>
   {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    {{ if gt (len $list) 0 }}
      {{ range $list }}
        <a class="sidebar-nav-item 
        {{ if ( eq ( add .Permalink "") ( add ( $currentPage.URL | relLangURL | safeURL ) "" ) )  }}
        active
        {{ end }}
        " href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
  {{ end }}
    {{ range .Site.Menus.main }}
      {{ if .Page.Params.redirect_url }}
        <a class="sidebar-nav-item custom 
        {{- if .Page.IsMenuCurrent "main" . -}} 
          active
        {{end}}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
      {{ else }}
        {{ $url := .URL | relLangURL }}
          <a class="sidebar-nav-item {{ $currentPage.RelPermalink }} {{ $url }}
        {{ if ( eq ( add $url "") ( add ( $currentPage.URL | relLangURL | safeURL ) "" ) )  or ( $currentPage.IsMenuCurrent "main" . ) }}
        active
        {{ end }}
        " href="{{ $url }}">{{ .Name }}</a>
        <!-- <a href="" class="sidebar-nav-item active"></a> -->
      {{ end }}
    {{ end }}
    
    </nav>
  </div>
</div>

