{{ $pages := site.RegularPages  }}

{{ if (ne site.Params.included_categories "") }}
{{/* If the user has updated the setting to only include
  certain categories, we fetch the option, split the string and
  trim whitespace from each category.
*/}}

{{ $categories := (split site.Params.included_categories ",") }}
{{ $trimmed_categories := apply $categories "trim" "." " " }}
{{- $pages = where . ".Params.categories" "intersect" $trimmed_categories -}}
{{ end }}

{{ partial "photolist.html" $pages }}